@page "/fetchdata"
@using SimpleBlazorWASM.Web.Model
@using SimpleBlazorWASM.Web.Services
@inject HttpClient Http

<h1>Range Item</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p>@errorMessage</p>
}
@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Validation Error count</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Text</td>
                    <td>@item.ValidationErrors.Count()</td>
                    <td>@item.IsReadOnly</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<RangeItem> _items;
    private string errorMessage;

    protected override async void OnInitialized()
    {
        try
        {
            var context = new SampleDomainContext();

            var lo = await context.LoadAsync(context.GetRangeWithNotAuthorizedQuery());
            _items = lo.Entities;
        }
        catch (Exception e)
        {
            errorMessage = e.ToString();
            Console.WriteLine(e);
        }
        StateHasChanged();
    }
}